<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BookList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/general.css"  />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Books</h1>
	
	<div class="col">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	
	<div class="welcome">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	
	
	
    <table class="table table-striped">
		<tr>
		    <th >Title</th>
		    <th >Author</th>
		    <th >Category</th>	<!-- Category -->
		    
		    <th sec:authorize="hasAuthority('ADMIN')"> </th>
		    <th ></th>
		</tr>  
    	<tr class="table table-striped" th:each = "book : ${books}">
    		<td th:text="${book.title}"></td>
    		<td th:text="${book.author}"></td>
   	<!--	<td th:text="${book.year}"></td>	 -->
   			<td th:text="${book.category.name}"></td>
    			<!-- category.name -->
     	
     		<td><a class = "editButton" th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a class = "btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
    	</tr>
     </table>
     
	 <a class = "btn-success" href="/add">Add Book</a>    	
</body>
</html>